<div class="text-center">
    <form class="mt-5">
        <label>Enter Username:</label>
        <br>
        <input id="searchUser" type="search" name="searchUser" placeholder="Enter Github Username" value=""
          [(ngModel)]="username" (keyup)="searchProfile()" />
      </form>
</div>


<div *ngIf="user">
    <div class="card text-center mt-5" style="width:40%;">
        <div class="card-body text-center">
            <a href="#" class="avatar avatar-xl rounded-circle"><img src="{{user.avatar_url}}" alt="profile photo" height="100px" width="100px"></a>
        </div>
        <div class="text-center">
            <p><strong>{{user.username}}</strong></p>
            <p>{{user.bio}}</p>
            <p><strong>Repos:</strong>{{user.public_repos}}</p>
            <p><strong>Followers:</strong>{{user.followers}}</p>
            <p><strong>Following:</strong>{{user.following}}</p>
            <p><strong>Location:</strong>{{user.location}}</p>
        </div>
        <hr>
        <div class="card">
            <div *ngIf="user.public_repos">
                <div class="text-center">
                    <h5>Repositiories</h5>
                </div>
                <div *ngFor="let repo of repos">
                    <div class="card">
                        <div class="card-body">
                            <h6>{{repo.name}}</h6>
                            <p>{{repo.description}}</p>
                            <p>{{repo.created_at|dateCount}}</p>
                            <p>{{repo.language}}</p>
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
        
        <hr>
        <div>
            <a href="{{user.html_url}}"class="text-info" style="text-decoration:none;"><p>View Profile</p></a>
        </div>
    </div>
</div> 



