<!-- <div class="container">
  <form>
    <input type="text" name="searchRepo" [(ngModel)]="repoName" (keyup)="findRepo">
  </form>
  <div *ngIf="repoData">
    <div class="card text-center" *ngFor="let data of repoData">
      <p>Project Name:{{data.name}}</p>
      <p>Description: {{data.description}}</p>
      <p>Created: {{data.created_at|dateCount}}</p>
      <p>Forks: {{data.forks_count}}</p>
      <p>Language: {{data.language}}</p>
      <a href="{{data.html_url}}" style="text-decoration:none;"><p class="text-info">View Project</p></a>
    </div>
  </div>

</div> -->