<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <!-- <app-search-info></app-search-info> -->

<!-- <app-github-user></app-github-user>
<app-find-repo></app-find-repo> -->
<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
        <span class="brand">GITFINDER</span>
    </a>
  </nav>
<!-- <div class="container-fluid">
    
    <div class="navbar text-center">
        <div class="logo">
            <h1>GITFINDER</h1>
        </div>  
    </div>
</div> -->
<div class="searchbar">
    <p><a class="nav-item nav-link active btn btn-secondary searchUser" routerLink="github-user">Search User</a></p>
    <p><a class="nav-item nav-link btn btn-secondary searchRepo" routerLink="/find-repo" style="text-decoration: none;">REPOSITORIES</a></p>
</div>

<router-outlet></router-outlet>
 
<footer>
    <div class="container-fluid">
            <div class="col-sm-6 col-md-3 item">
                <h6>About</h6>
                    <p><a href="#">Web design</a></p>
                    <p><a href="#">Development</a></p>
                </div>       
        <p class="text-center">All Rights Reserved © 2022</p>
    </div>
</footer>
</body>
</html>



