<!-- <app-search-info></app-search-info> -->

<!-- <app-github-user></app-github-user>
<app-find-repo></app-find-repo> -->
<nav class="navbar navbar-light bg-secondary">
    <a class="navbar-brand" href="#">
        <span class="brand">GITFINDER</span>
    </a>
  </nav>
<!-- <div class="container-fluid">
    
    <div class="navbar text-center">
        <div class="logo">
            <h1>GITFINDER</h1>
        </div>  
    </div>
</div> -->
<div class="searchbar">
    <p><a class="nav-item nav-link active btn btn-secondary searchUser" routerLink="github-user">Search User</a></p>
    <p><a class="nav-item nav-link btn btn-secondary searchRepo" routerLink="/find-repo" style="text-decoration: none;">REPOSITORIES</a></p>
</div>

<router-outlet></router-outlet>
